@import'/src/sass/App.scss';

.card {
    background-color: #68686855;
    border-radius: 1rem;
    padding: 3rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      filter: drop-shadow(0px 0px 10px $jade);
    }
    img {
      width: 100%;
    }
    p {
      text-align: center;
      color: $white;
      font-family: $kanitFont;
      font-weight: 600;
      font-size: 2rem;
      padding-top: 1.5rem;
    }
  }

  