
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background-color: $black;
    transition: background-color 0.3s ease-in-out;
   
}
 
.container {
  width: 95%;
  max-width: 1750px;
  margin: 0 auto;
}
a{
  font-family:$kanitFont ;
  font-weight: 600;
  text-decoration: none ;
  color: $white;
}
img,
picture {
  display: block;
}

h1,h2{
  font-family:$kanitFont ;
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

