

@mixin grid($columns, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}
/** Media Queries **/
@mixin phone {
    @media (max-width: #{$phone}) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (max-width: #{$tablet}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (max-width: #{$desktop}) {
      @content;
    }
  }
  
  @mixin grid($columns, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
  }

  @mixin container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  @mixin display($display,$content,$items,$align){
    display: $display;
    justify-content:$content;
    justify-items: $items;
    align-items: $align;
  }

 