@import "/src/sass/App.scss";

.header__nav{
  display: flex;
  gap: 4rem;
  padding-left: 2rem;
  a {
    display: block;
    transition: 0.2s ease-in-out;

    &:hover {
      color: $jade;
    }
  }
}
